      body {
        width: 100%;
        margin: 0;
        padding: 0;
      }
      h3 {
        margin: 0;
        padding: 0;
      }
      img {
        width: 100%;
      }

      .mobile-container {
        position: relative;
        /* height: 100vh; */
      }
      .mobile-nav {
         height: 90px;
         margin-top: 1%;
         /* background-color: yellow; */
         height: 100px;
      }
      .menu,
      .logo,
      .search {
        height: inherit;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .menu {
        width: 12%;
      }
      /* hamburger icon */
      .fa-bars {
        font-size: 70px;
      }
      .logo {
        width: 76%;
      }
      /* image */
      #logoMetservice {
        width: 50%;
      }
      .search {
        width: 12%;
      }
      /* search icon */
      .fa-search {
        font-size: 70px;
      }
/* end of mobile nav */

/* start of daily section */
      .daily-section {
        height: 33vh;
        /* background-color: blue; */
      }
      .location {
        /* background-color: yellow; */
        height: 10vw;
        width: 100%;
        padding: 5% 0 0 5%;
        text-align: left;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-size: 5vw;
      }
      .weather-img,
      .weather-info {
        height: 26vh;
        float: left;
        width: 50%;
      }
      .weather-img {
        /* background-color: pink; */
        display: flex;
        justify-content: center;
        align-items: center;
      }
      /* sun icon */
      .fa-sun-o {
        font-size: 20vh;
      }
      .weather-info {
        /* background-color: turquoise; */
      }
      .current-temp{
        background-color: red;
        height: 13vh;
      }
      .max-min-temp,
      .rain-wind {
        background-color: yellow;
        height: 5vh;
      }
      .rain-wind {
        background-color: pink;
      }
/* end of daily section */

      .map-section,
      .fav-section,
      .filler-section {
        height: 25vh;
        margin: 40px;
        background-color: purple;
        position: relative;
      }

/* start of map section */
      .map-title,
      .map-expand {
        height: 5vh;
        position: absolute;
        bottom: 0;
      }
      .map-title {
        width: 85%;
        background-color: yellow;
      }
      .map-expand {
        width: 15%;
        right: 0;
        background-color: pink;
      }
/* end of map section */

/* start of fav section */
      .fav-section {
        background-color: red;
      }
      .fav-title {
        height: 7vh;
        background-color: pink;
      }

      .city {
        height: 6vh;
      }
      .c-one {
        background-color: yellow;
      }
      .c-two {
        background-color: blue;
      }
      .c-three {
        background-color: green;
      }
/* end of fav section */

/* start of filler section */
      .filler-section {
        background-color: yellow;
      }

      .footer-section {
        height: 100px;
        background-color: green;
      }
